/* 全体の設定 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    background-color: #fff;
}

/* ヘッダーの設定 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); /* ヘッダーに影を追加 */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.header h1 {
    font-size: 1.2em;
}

.content section {
    padding-bottom: 30px; 
}

.content section h2 {
    margin-bottom: 20px; 
    }

#dark-mode-toggle {
    background: none;
    border: none;
    color: #333; 
    cursor: pointer;
    font-size: 1.5em;
}

#link {
    display: inline-block; 
    padding: 15px 25px;
    border: 1px solid #dadada; 
    border-radius: 10px;
    text-decoration: none;
    background-color: #f1f1f1;
    word-wrap: break-word; 
    max-width: 100%; 
    font-family: "Arial", "Helvetica", sans-serif; /* ゴシック体を指定 */
    font-weight: bold; /* 太字 */
    
}

/* サイドバー（見出し）の設定 */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 400px;
    bottom: 0;
    position: fixed;
    background-color: #fff; 
    overflow-y: auto;
    padding: 20px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1); 
    border-right: 1px solid rgba(0, 0, 0, 0.1); 
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    opacity: 0.7;
    transition: color 0.3s ease, opacity 0.3s ease;
}

/* 強調表示 */
.sidebar ul li a.active {
    color: #333;
    opacity: 1;
    font-weight: bold;
}
body a {
    color: #333;
}
/* 本文の設定 */
.content {
    margin-top: 100px;
    margin-left: 500px;
    padding: 20px;
    flex-grow: 1;
}

.content section {
    margin-bottom: 200px;
}

/* ページ遷移リンク */
.next-page-link {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 1px solid #bcbec0;
}



/* ダークモード */
body.dark-mode {
    background-color: #121212;
    color: #eee;
}

body.dark-mode .header {
    background-color: #1e1e1e;
}

body.dark-mode .header h1 {
    color: #eee;
}

body.dark-mode #dark-mode-toggle {
    color: #eee; 
}

body.dark-mode .sidebar {
    background-color: #1e1e1e;
}

body.dark-mode .sidebar ul li a {
    color: #ccc;
}

body.dark-mode a {
    color: #eee; 
}

body.dark-mode #link {
    padding: 20px 30px;
    border: 1px solid #5e5e5e; 
    border-radius: 10px;
    text-decoration: none;
    background-color: #333;
}

/* 本文最下部に到達時にページリンク表示 */
body.scrolled-to-bottom .next-page-link {
    opacity: 1;
}




/*メディアクエリ*/

  
  /* 画面幅が992px以下の場合（タブレットなど） */
  @media (max-width: 1000px) {
    .sidebar {
      width: 300px;
    }

    .content {
      margin-left: 350px;
    }
    #link {
        padding: 20px 25px;
    }
  }
  
  /* 画面幅が768px以下の場合（スマートフォンなど） */
@media (max-width: 768px) {
    .sidebar {
      width: 250px;
    }

    .content {
      margin-left: 280px;
    }

    .content section h2 {
        font-size: 18px;
    }

    #link {
        padding: 10px 15px;
    }
  }
  
  /* 画面幅が480px以下の場合（スマートフォンなど） */
  @media (max-width: 480px) {
    .sidebar {
      width: 200px;
    }

    .content {
      margin-left: 200px;
    }
  }